go 1.25.0

use (
	./services/auth
	./services/gateway
	./services/listings
	./services/mentors
	./services/notifications
	./services/sessions
	./services/users
	./utils/jwtutil
	./utils/kafka
	./utils/observability
	./utils/passhash
)
