go 1.22

use (
	./utils/jwtutil
	./utils/kafka
	./utils/observability
	./utils/passhash
	./services/auth
	./services/gateway
	./services/listings
	./services/mentors
	./services/notifications
	./services/sessions
	./services/users
)
